In [23]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
# presence=pd.read_excel('presence.csv')
booking=pd.read_json('data/roomBookings.json')
presence=pd.read_json('data/presences.json')
rooms=pd.read_json('data/rooms.json')

rooms

In [39]:
rooms

,_id,Sede,aulaId,aulaDes,capienza,poloDes,date,scheduleType,schedules
0,5f5b4fdd400b9fbfbe0b8e94,1,1.0,69,10,15,2020-10-02 19:17:16.414000+00:00,[],[]
1,5f5b4fdd400b9fbfbe0b8e95,1,2.0,25,24,15,2020-12-15 15:38:27.918000+00:00,[],[]
2,5f5b4fdd400b9fbfbe0b8e96,1,3.0,12,12,2,2020-10-29 10:10:23.875000+00:00,[],[]
3,5f5b4fdd400b9fbfbe0b8e97,1,4.0,16,10,2,2020-12-15 10:17:12.238000+00:00,[],[]
4,5f5b4fdd400b9fbfbe0b8e98,1,7.0,35,76,18,2020-12-16 10:04:16.903000+00:00,[],[]
...,...,...,...,...,...,...,...,...,...
143,5f9ade072358534e7e6d469c,3,NaN,123,50,29,2020-10-29 15:21:43.206000+00:00,[],[]
144,5fa05a957916daa867a158ae,1,NaN,31,14,1,2020-12-16 08:04:17.292000+00:00,[],[]
145,5fa05aa77916daa867a158af,1,NaN,36,9,1,2020-12-16 09:46:29.789000+00:00,[],[]
146,5fc95263eb6dbced74b94f68,2,NaN,124,6,4,2020-12-03 21:02:27.777000+00:00,[],[]
147,5fca3ca8eb6dbced74b951b7,2,NaN,125,13,14,2020-12-04 13:42:00.827000+00:00,[],[]

In [42]:
type(rooms.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [33]:
presence.corr()

          classroom      seat  building     posto
classroom  1.000000  0.086330  0.549477 -0.271784
seat       0.086330  1.000000  0.266890 -0.149027
building   0.549477  0.266890  1.000000 -0.249577
posto     -0.271784 -0.149027 -0.249577  1.000000

In [5]:
presence

,_id,aula,sede,polo,inDate,date,posto,outDate,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,5fa8ef7d1bd2a03f4641a15e,1.0,1.0,1.0,2020-11-09T07:27:57.078Z,2020-11-09T07:27:57.078Z,1.0,2020-11-09T12:05:00.362Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5fa8efa51bd2a03f4641a15f,1.0,1.0,1.0,2020-11-09T07:28:37.074Z,2020-11-09T07:28:37.074Z,2.0,2020-11-09T12:05:00.363Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5fa8f0751bd2a03f4641a160,1.0,1.0,1.0,2020-11-09T07:32:05.878Z,2020-11-09T07:32:05.879Z,3.0,2020-11-09T12:05:00.364Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5fa8f0811bd2a03f4641a161,1.0,1.0,1.0,2020-11-09T07:32:17.390Z,2020-11-09T07:32:17.390Z,4.0,2020-11-09T07:32:20.897Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5fa8f0891bd2a03f4641a162,1.0,1.0,1.0,2020-11-09T07:32:25.980Z,2020-11-09T07:32:25.980Z,5.0,2020-11-09T07:32:36.245Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9837,5fd9ddcfff3b76b96dd7988b,19.0,1.0,5.0,2020-12-16T10:13:35.299Z,2020-12-16T10:13:35.299Z,12.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9838,5fd9ddf1ff3b76b96dd7988e,1.0,1.0,1.0,2020-12-16T10:14:09.471Z,2020-12-16T10:14:09.471Z,46.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9839,5fd9de6cff3b76b96dd79891,13.0,4.0,9.0,2020-12-16T10:16:12.267Z,2020-12-16T10:16:12.267Z,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9840,5fd9df86ff3b76b96dd79898,19.0,1.0,5.0,2020-12-16T10:20:54.612Z,2020-12-16T10:20:54.612Z,13.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
booking

,_id,id,aula,polo,sede,day,month,year,time.start,time.end,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
0,5fa8267c1bd2a03f4641a0a1,10000,1000,1000,1000,12,11,2020,8.30,10.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.0
1,5fa826f01bd2a03f4641a0a3,10000,1000,1000,1000,12,11,2020,10.45,12.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1001.0
2,5fa8271f1bd2a03f4641a0a5,10001,1001,1001,1000,9,11,2020,8.30,10.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1002.0
3,5fa827301bd2a03f4641a0a7,10001,1001,1001,1000,9,11,2020,10.45,12.45,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1003.0
4,5fa8274c1bd2a03f4641a0a9,10001,1001,1001,1000,9,11,2020,14.15,16.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1004.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3293,5fd9de93ff3b76b96dd79893,10084,1001,1001,1000,16,12,2020,14.15,16.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3294,5fd9ded1ff3b76b96dd79895,10300,1001,1001,1000,16,12,2020,14.15,16.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3295,5fd9dedfff3b76b96dd79897,10300,1001,1001,1000,16,12,2020,16.30,18.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3296,5fd9e0f2ff3b76b96dd798a1,10044,1001,1001,1000,16,12,2020,14.15,16.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3297,5fd9e104ff3b76b96dd798a3,10044,1001,1001,1000,16,12,2020,16.30,18.30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,_id,aula,sede,polo,inDate,date,posto,outDate,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,5fa8ef7d1bd2a03f4641a15e,1.0,1.0,1.0,2020-11-09T07:27:57.078Z,2020-11-09T07:27:57.078Z,1.0,2020-11-09T12:05:00.362Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5fa8efa51bd2a03f4641a15f,1.0,1.0,1.0,2020-11-09T07:28:37.074Z,2020-11-09T07:28:37.074Z,2.0,2020-11-09T12:05:00.363Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5fa8f0751bd2a03f4641a160,1.0,1.0,1.0,2020-11-09T07:32:05.878Z,2020-11-09T07:32:05.879Z,3.0,2020-11-09T12:05:00.364Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5fa8f0811bd2a03f4641a161,1.0,1.0,1.0,2020-11-09T07:32:17.390Z,2020-11-09T07:32:17.390Z,4.0,2020-11-09T07:32:20.897Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5fa8f0891bd2a03f4641a162,1.0,1.0,1.0,2020-11-09T07:32:25.980Z,2020-11-09T07:32:25.980Z,5.0,2020-11-09T07:32:36.245Z,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9837,5fd9ddcfff3b76b96dd7988b,19.0,1.0,5.0,2020-12-16T10:13:35.299Z,2020-12-16T10:13:35.299Z,12.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9838,5fd9ddf1ff3b76b96dd7988e,1.0,1.0,1.0,2020-12-16T10:14:09.471Z,2020-12-16T10:14:09.471Z,46.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9839,5fd9de6cff3b76b96dd79891,13.0,4.0,9.0,2020-12-16T10:16:12.267Z,2020-12-16T10:16:12.267Z,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9840,5fd9df86ff3b76b96dd79898,19.0,1.0,5.0,2020-12-16T10:20:54.612Z,2020-12-16T10:20:54.612Z,13.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
booking.corr()

,id,aula,polo,sede,day,month,year,time.start,time.end,Unnamed: 12,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
id,1.000000,0.071601,0.085742,0.088639,-0.001660,0.261693,NaN,0.060600,0.058792,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.972598
aula,0.071601,1.000000,0.966385,0.443433,0.000364,0.006882,NaN,-0.072564,-0.105177,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.269061
polo,0.085742,0.966385,1.000000,0.571605,0.003818,0.011659,NaN,-0.090295,-0.122074,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.269061
sede,0.088639,0.443433,0.571605,1.000000,0.001449,-0.005303,NaN,-0.040561,-0.043913,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
day,-0.001660,0.000364,0.003818,0.001449,1.000000,-0.669067,NaN,-0.012409,-0.012365,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.590097
month,0.261693,0.006882,0.011659,-0.005303,-0.669067,1.000000,NaN,0.025250,0.026146,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
time.start,0.060600,-0.072564,-0.090295,-0.040561,-0.012409,0.025250,NaN,1.000000,0.998837,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.329506
time.end,0.058792,-0.105177,-0.122074,-0.043913,-0.012365,0.026146,NaN,0.998837,1.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.329506
Unnamed: 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 24,0.972598,0.269061,0.269061,NaN,-0.590097,NaN,NaN,0.329506,0.329506,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000