In [3]:
#@title
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

spark = SparkSession \
    .builder \
    .appName("test") \
    .config("spark.some.config.option", "setting") \
    .getOrCreate()

In [4]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df = spark.read.csv('data_csv/presences.csv', header=True, inferSchema=True)
# create a spark dataframe

In [34]:
pdf=pd.read_csv('presence_ds.csv')
# create a pandas dataframe

In [35]:
pdf=pdf.dropna()
# drop null values from the dataframe

In [36]:
len(pdf.aula.unique())
#69 different classrooms

69

In [37]:
len(pdf.polo.unique())
#22 different departmentss

22

In [38]:
len(pdf.username.unique())
# 882 unique users

882

In [39]:
pdf

,_id,id,username,aula,sede,polo,inDate,date,posto,outDate
0,5fa8ef7d1bd2a03f4641a15e,81929,1,1,1,1,11/9/2020 8:27,11/9/2020 8:27,1,11/9/2020 13:05
1,5fa8efa51bd2a03f4641a15f,81098,2,1,1,1,11/9/2020 8:28,11/9/2020 8:28,2,11/9/2020 13:05
2,5fa8f0751bd2a03f4641a160,81009,3,1,1,1,11/9/2020 8:32,11/9/2020 8:32,3,11/9/2020 13:05
3,5fa8f0811bd2a03f4641a161,80492,4,1,1,1,11/9/2020 8:32,11/9/2020 8:32,4,11/9/2020 8:32
4,5fa8f0891bd2a03f4641a162,80492,4,1,1,1,11/9/2020 8:32,11/9/2020 8:32,5,11/9/2020 8:32
...,...,...,...,...,...,...,...,...,...,...
10644,5fe30a4a1c7ca18763114dbc,82289,591,24,2,14,12/23/2020 10:13,12/23/2020 10:13,7,12/23/2020 13:05
10645,5fe313f51c7ca18763114dca,81216,47,3,1,3,12/23/2020 10:55,12/23/2020 10:55,1,12/23/2020 13:05
10646,5fe314031c7ca18763114dcb,81490,49,3,1,3,12/23/2020 10:55,12/23/2020 10:55,2,12/23/2020 12:56
10647,5fe316041c7ca18763114dcc,81241,25,9,2,4,12/23/2020 11:03,12/23/2020 11:03,4,12/23/2020 13:05
10648,5fe319fe1c7ca18763114dcd,69271,821,48,1,12,12/23/2020 11:20,12/23/2020 11:20,14,12/23/2020 13:05

In [14]:
new_df=pdf.groupby(['aula','sede','polo','date'])['posto'].agg('max').reset_index()
aggregate the number of user entries on a given day

In [15]:
new_df

      aula  sede  polo              date  posto
0        1     1     1  11/10/2020 11:02     48
1        1     1     1   11/10/2020 8:17      1
2        1     1     1   11/10/2020 8:18      2
3        1     1     1   11/10/2020 8:26      3
4        1     1     1   11/10/2020 8:27      4
...    ...   ...   ...               ...    ...
5034    68     2     4  12/18/2020 10:12     13
5035    68     2     4  12/18/2020 10:14     15
5036    68     2     4  12/18/2020 10:17     16
5037    68     2     4  12/18/2020 10:18     17
5038    84     3    22  12/22/2020 16:32      1

[5039 rows x 5 columns]

In [16]:
df2=pd.DataFrame({'myDate':new_date})

NameError: name 'new_date' is not defined

In [ ]:
pdf.date=df2['myDate']

In [ ]:
pdf.date

In [ ]:
pdf

In [19]:
booking=pd.read_json('data/roomBookings.json')
presence=pd.read_json('data/presences.json')
rooms=pd.read_json('data/rooms.json')
rs=pd.read_json('data/roomSchedule.json')

In [23]:
result=pd.concat([rs,rooms],axis=1).reindex(rs.index)
# concatinate roomschedule and rooms , based on the specified axis

In [24]:
result
#the result is dataframe fro the roomschedule dataframe which has extra columns extracted from the corresponding rooms columns 
# the we get information such capienza from the rooms dataframe in order to gain more deatures during the feature selection stage

,_id,bookings,room,date,_id,Sede,aulaId,aulaDes,capienza,poloDes,date,scheduleType,schedules
0,5fa8267c1bd2a03f4641a099,"[{'_id': '5fa8267c1bd2a03f4641a09a', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-08 17:10:20.328000+00:00,5f5b4fdd400b9fbfbe0b8e94,1.0,1.0,69.0,10.0,15.0,2020-10-02 19:17:16.414000+00:00,[],[]
1,5fa859611bd2a03f4641a0e0,"[{'_id': '5fa859611bd2a03f4641a0e1', 'start': ...",5f5cc739fc7a3450ea06e838,2020-11-08 20:47:29.186000+00:00,5f5b4fdd400b9fbfbe0b8e95,1.0,2.0,25.0,24.0,15.0,2020-12-15 15:38:27.918000+00:00,[],[]
2,5fa87aad1bd2a03f4641a130,"[{'_id': '5fa87aad1bd2a03f4641a131', 'start': ...",5f5b4fdd400b9fbfbe0b8ec3,2020-11-08 23:09:33.878000+00:00,5f5b4fdd400b9fbfbe0b8e96,1.0,3.0,12.0,12.0,2.0,2020-10-29 10:10:23.875000+00:00,[],[]
3,5fa8fb591bd2a03f4641a1e9,"[{'_id': '5fa8fb591bd2a03f4641a1ea', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-11-09 08:18:33.344000+00:00,5f5b4fdd400b9fbfbe0b8e97,1.0,4.0,16.0,10.0,2.0,2020-12-15 10:17:12.238000+00:00,[],[]
4,5fa8fc3d1bd2a03f4641a1f7,"[{'_id': '5fa8fc3d1bd2a03f4641a1f8', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-11-09 08:22:21.433000+00:00,5f5b4fdd400b9fbfbe0b8e98,1.0,7.0,35.0,76.0,18.0,2020-12-16 10:04:16.903000+00:00,[],[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,5fdc8542ff3b76b96dd79dab,"[{'_id': '5fdc8542ff3b76b96dd79dac', 'start': ...",5f5cc781fc7a3450ea06e839,2020-12-18 10:32:34.679000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
190,5fde2cd81c7ca18763114afb,"[{'_id': '5fde2cd81c7ca18763114afc', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-12-19 16:39:52.105000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
191,5fdf86151c7ca18763114b2a,"[{'_id': '5fdf86151c7ca18763114b2b', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-12-20 17:12:53.116000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
192,5fdfabe51c7ca18763114b5e,"[{'_id': '5fdfabe51c7ca18763114b5f', 'start': ...",5f5cc50bfc7a3450ea06e834,2020-12-20 19:54:13.157000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
193,5fdfea6b1c7ca18763114b9f,"[{'_id': '5fdfea6b1c7ca18763114ba0', 'start': ...",5f5bd5fafc7a3450ea06e81c,2020-12-21 00:20:59.897000+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN

In [30]:

res = rs.merge(rooms, how='inner', left_on=['room'], right_on=['_id'])
# this creates an inner join similar to that of SQL, we get data from 2 tables based on a given common column(foreign key)

In [31]:
res.to_csv('room_booking.csv')
#export file to csv format